{{outlet}}
<div class="band">
  <p class="chooseSomthing">
    Choose A Language!
      <p class ="home" {{action "home"}}>Home</p>
      <p class ="back"{{action "back"}}>Back</p>
    </p>
</div>





  <button class="panel-body panelLanguage1" {{action "toPortugueseLocations"}}>
    <p class= "words">Portuguese</p>

    <div class="picture">
      <img src={{"brazil.png"}} alt="Logo">
    </div>

  </button>


    <button class="panel-body panelLanguage2"{{action "toSpanishLocations"}}>
      <p class="words">Spanish</p>
      <div class="picture">
        <img src={{"spanish.png"}} alt="Logo">
      </div>
    </button>
