{{outlet}}

<div class="band">
  <p class="chooseSomthing">
    Explore!
      <p class ="home" {{action "home"}}>Home</p>
      <p class ="back"{{action "back"}}>Back</p>
    </p>
</div>

{{#each model.data as |lang|}}
  <div id='{{lang.id}}' {{action "front" lang.id}}>
      <button class="primarylanguage" style="display:none;">
          <p class="words">
            {{lang.attributes.translation}}
          </p>
      </button>
      <button class="translation">
        <p class = "words">
          {{lang.attributes.primarylanguage}}
        </p>
      </button>
    </div>
    <button class="sound" onclick={{action 'play' lang.attributes.sound }}><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></button>
{{/each}}
