{{outlet}}
<div class="page-header">
  <h1>Aprender <small></small></h1>
</div>
<!--This is for the body of the page is shold have a background color-->
<div class="panel panel-default">
  <p>
    Choose A Location!
  </p>
</div>

<!--This is for the lists of locations-->


  {{#each model.data as |lang|}}
  <button class="panel-body buttonPortugueseLocations" {{action "getName" lang.id  }}>{{lang.attributes.name}}</button>
  {{/each}}

  <button class="navButton" {{action "home"}}>Home</button>
  <button class="navButton2" {{action "back"}}> Back</button>
