{{outlet}}

<h1>Spanish individual words</h1>
{{#each model.data as |lang|}}
  <table class="locationWords">

  <div id='{{lang.id}}' {{action "front" lang.id}}>
      <div class="primarylanguage" style="display:none;">
          {{lang.attributes.primarylanguage}}
      </div>

      <div class="translation">
        {{lang.attributes.translation}}
      </div>







        {{lang.attributes.sound  }}

  </div>
</table>
{{/each}}
