{{outlet}}

<div class="page-header">
  <button class="navButton" {{action "home"}}><p class = "words">Home </p></button>
  <button class="navButton2" {{action "back"}}><p class ="words">Back </p></button>
  <h1>Aprender </h1>
</div>

<div class="band">
  <p class="chooseLocation">
    Choose A Location!
  </p>
</div>

  {{#each model.data as |lang|}}
  <button class="panel-body buttonPortugueseLocations" {{action "getName" lang.id  }}><p class="words">{{lang.attributes.name}}</p></button>
  {{/each}}
