{{outlet}}

<div class="page-header">
  <h1>Aprender <small></small></h1>
</div>


  <div class="panel panel-default">
    <p class="words">
      Choose A Language!
    </p>
  </div>


  <button class="panel-body panelLanguage1" {{action "toPortugueseLocations"}}>
    <p class= "words">Portuguese</p>

    <div class="picture">
      <img src={{"brazil.png"}} alt="Logo">
    </div>

  </button>


    <button class="panel-body panelLanguage2"{{action "toSpanishLocations"}}>
      <p class="words">Spanish</p>
      <div class="picture">
        <img src={{"spanish.png"}} alt="Logo">
      </div>
    </button>
