<hello>Hi spanish</hello>

{{outlet}}
<h1>yes htis</h1>

{{#each model.data as |lang|}}




  <div id='{{lang.id}}' {{action "front" lang.id}}>
      <div class="primarylanguage" style="display:none;">
          {{lang.attributes.primarylanguage}}
      </div>
      <div class="translation">
        {{lang.attributes.translation}}

      </div>
  </div>


{{/each}}
