{{outlet}}
<div class="band">
  <p class="chooseSomthing">
    Choose A Location!
      <p class ="home" {{action "home"}}>Home</p>
      <p class ="back"{{action "back"}}>Back</p>
    </p>
</div>
{{#each model.data as |lang|}}
  <button class= "panel-body buttonLanguagesLocations"{{action "getName" lang.id  }}><p class="words">{{lang.attributes.name}}</p></button>
{{/each}}
