{{outlet}}

  <div class="page-header">
    <button class="navButton" {{action "home"}}><p class="words">Home </p></button>
    <button class="navButton2" {{action "back"}}><p class="words">Back </p></button>
    <h1>Aprender </h1>
  </div>

  <div class="panel panel-default">
    <p class="words">
      Explore
    </p>
  </div>


{{#each model.data as |lang|}}
  <div id='{{lang.id}}' {{action "front" lang.id}}>
      <button class="primarylanguage" style="display:none;">
          <p class="words">
            {{lang.attributes.translation}}
          </p>
      </button>
      <button class="translation">
        <p class="words">
          {{lang.attributes.primarylanguage}}
        </p>

      </button>
  </div>
  <button class="sound" onclick={{action 'play' lang.attributes.sound }}><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></button>
{{/each}}
