{{outlet}}
<div class="page-header">
  <h1>Aprender <small></small></h1>
</div>

<div class="panel panel-default">
  <p>
    Choose your location!
  </p>
</div>

{{#each model.data as |lang|}}
  <button class= "panel-body buttonPortugueseLocations"{{action "getName" lang.id  }}>{{lang.attributes.name}}</button>
{{/each}}

<button class="navButton" {{action "home"}}>Home</button>
<button class="navButton2" {{action "back"}}> Back</button>
