{{outlet}}
<div class="page-header">
  <button class="navButton" {{action "home"}}> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
  <button class="navButton2" {{action "back"}}><span class="	glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button>
  <h1>Aprender</h1>
</div>

<div class="panel panel-default">
  <p class="words">
    Choose A Location!
  </p>
</div>

{{#each model.data as |lang|}}
  <button class= "panel-body buttonPortugueseLocations"{{action "getName" lang.id  }}><p class="words">{{lang.attributes.name}}</p></button>
{{/each}}
