{{outlet}}

<div class="page-header">
  <h1>Aprender <small></small></h1>
</div>

{{#each model.data as |lang|}}
  <div id='{{lang.id}}' {{action "front" lang.id}}>
      <button class="primarylanguage" style="display:none;">
          {{lang.attributes.primarylanguage}}
      </button>
      <button class="translation">
        {{lang.attributes.translation}}
      </button>
    </div>
    <button class="sound" onclick={{action 'play' lang.attributes.sound }}>lang.attributes.sound</button>
{{/each}}

<button class="navButton" {{action "home"}}>Home</button>
<button class="navButton2" {{action "back"}}> Back</button>
